# Leave empty for local environment / no api authentication
API_URL=http://localhost:3000

# Set to production
NODE_ENV=development

# Leaving this empty will generate a new unique random session secret at start
SESSION_SECRET=
