# Set to production
NODE_ENV=development

# OFFLINE or ONLINE, change editor mode beetween local execution and online execution
PUBLIC_MODE=OFFLINE

# Urls
PUBLIC_PM_URL=https://projects.nanoforge.eu
PUBLIC_DOCS_URL=https://docs.nanoforge.eu
PUBLIC_LANDING_URL=https://nanoforge.eu

# Api params (required if PUBLIC_MODE=ONLINE)
API_URL=http://localhost:3000
API_KEY=test

# Fs root dir read/write projects (leave empty to select current directory) (if you use relative path, it will be <cwd>/<FS_ROOT>)
FS_ROOT=
# Archive root dir read/write archive (leave empty to select current directory) (if you use relative path, it will be <cwd>/<ARCHIVE_ROOT>)
# Shouldn't be in FS_ROOT to avoid name conflicts
ARCHIVE_ROOT=

# Leaving this empty will generate a new unique random session secret at start
SESSION_SECRET=

# Change if your nf cli executable isn't in the path
NF_CLI_PATH=nf
