# Set to production
NODE_ENV=development

# OFFLINE or ONLINE, change editor mode beetween local execution and online execution
PUBLIC_MODE=OFFLINE

# Api params (required if PUBLIC_MODE=ONLINE)
API_URL=http://localhost:3000
API_KEY=test

# Fs root dir read/write projects (leave empty to select current directory) (if you use relative path, it will be <cwd>/<FS_ROOT>)
FS_ROOT=

# Leaving this empty will generate a new unique random session secret at start
SESSION_SECRET=

# Change if your nf cli executable isn't in the path
NF_CLI_PATH=nf
