.idea/
.vscode/
.turbo/

**/.svelte-kit/
**/dist/
**/build/
node_modules/

pnpm-lock.yaml
pnpm-workspace.yaml

apps/
packages/
plugins/
tooling/

**/CHANGELOG.md

**/coverage/
**/test-results/

**/test/fixtures/

# Written by the editor in a project it opens (the example).
**/.nanoforge/
