{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["^~/(.*)$", "^[./]"],
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100
}
